<%= form_with(model: event, local: true) do |form| %>
  <% if event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, id: :event_title %>
  </div>

  <div class="field">
    <%= form.label :starttime %>
    <%= form.datetime_select :starttime, id: :event_starttime %>
  </div>

  <div class="field">
    <%= form.label :endtime %>
    <%= form.datetime_select :endtime, id: :event_endtime %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description, id: :event_description %>
  </div>

  <div class="field">
    <%= form.label :allday %>
    <%= form.check_box :allday, id: :event_allday %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
