<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @event.title %>
</p>

<p>
  <strong>Starttime:</strong>
  <%= @event.starttime %>
</p>

<p>
  <strong>Endtime:</strong>
  <%= @event.endtime %>
</p>

<p>
  <strong>Description:</strong>
  <%= @event.description %>
</p>

<p>
  <strong>Allday:</strong>
  <%= @event.allday %>
</p>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
